body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fuente Titulos Paginas */
.titulosPaginas{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.linkNavbar{
  font-family: 'Roboto', sans-serif;
  align-items: center;
}

/* Fuente Titulos Productos */
#titulosProductos{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}
#titulosDetalleProducto{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}
#descripcionProducto{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
/* Fuente Boton Detalle de Productos */
#btnDetalleProducto{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/* Fuente Footer */
.textosFooter{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-weight: lighter;
}

/* Carrito */
#btnCarrito{
  font-size: 85%;
}

.imgCarrito{
  height: 30px;
  width: 30px;
  
}


/* Logo Vintage */
#imgLogo{
  margin-right: 4px;
  border-radius: 10%;
}
#imgLogo:hover{
  box-shadow: 1px 3px 3px #f3f3f380;
}

/* Caja que envuelve a Counter */
#cajaCounter{
  height: 45px;
  width: 200px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
  border-radius: 4px;
  background: #cfcfcf;
  box-shadow:  4px 4px 15px #3b3b3b,
             -2px -2px 5px #595959;
}
#cajaCantidadCounter{
  margin-left: 50px; 
  margin-right: 50px;

}

/* Botones de Counter */
#btnSuma{
  margin-bottom: 5px;
  margin-left: 2px;
}
#btnResta{
  margin-bottom: 5px;
  margin-right: 2px;
}

#btnAgregar{
  margin-top: 0px;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#btnFinalizarCompra{
  margin-top: 5px;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
